/* header */
.image-container{
    position: relative;
    display: inline-block;
    
}

.App{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.header{
    position: relative;
    width: 100%;
    
}

.image-container img{
    display: block;
    width: 100%;
    height: auto;
    height: 50%;
    top: 0;
    position: relative;
    background-position: center;
    min-height: 380px;
}

.container{
    position: absolute;
    margin: 20px;
    width: auto;
    top: 0;
    
}
.navbar{
    font-size: large;
    width: 100%;
    left: 5%;
}

.quote-container {
    position: absolute;
    bottom: 20%;
    left: 20%;
    transform: translateX(-50%);
    width: 30%;
    max-width: none;
    max-height: 50%;
    overflow: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .quote-box {
    border: 2px solid #fff;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-align: left;
    overflow: hidden;
    
  }

/* 1st body part */
.main-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 30px;
 
  }
  
  .main-image-container {
    position: absolute;
    height: 100%;
    left: 5%;
    
  
  }
  
  .main-image {
    width: 100%;
    display: block;
    overflow: hidden;
  }
  
  .image-text {
    position: absolute;
    margin: 200px 0px 50px ;
    color: black;
    z-index: 1;
    background-color: #fff;
    border: #fff solid;
    padding: 70px;
    max-height: 400px;
   
    
 
  }

  /* 2nd body part */

.creations-section {
    position: relative;
    margin-top: 600px;
  }
  
  .creations-title {
    margin-bottom: 50PX;
    width: 100%;
    padding-left: 50px;
    
   
  }
  
  .creations-grid {
    margin-top: 20px;
    padding-right: 100px;
    padding-left: 50px;
    
  }
  
  .creation-item {
    padding: 10px;
    text-align: center;
    overflow: hidden;
  }
  
  .creation-item img {
    width: 100%;
    border-radius: 8px;
  }
  
  .creation-name {
    margin-top: -100px;
    color: #fff;
    position: absolute;
    font-size: 25px;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    text-align: justify;

    
    
  }

  /* Footer */

.footer {
    background-color: #000;
    color: #fff;
    min-height: 100px;
    padding-left: 50px;

  }
  
  .footer-company {
    margin-left: 10px;
    font-size: 25px;
  }

  .footer-message{
    opacity: 0.5;
    font-size: small;
    justify-content: end;
    display: flex;
  }
  
  .footer-bottom{
    font-size: small;
  }

  .text-right{
    margin-left:10px ;
  }



  
  
 
  




